%hr{ style: 'clear:both' }
%div{ id: (dom_id toy) }
  = image_tag (toy.image.url :thumb), class: 'toy', style: 'float:left'
  %h2
    = toy.name
  %p
    = toy.description
  %p
    = link_to 'Message Seller', 
